

footer.footer
  .inside_container
    .footer_block
      .footer_logo DREAMSHARE
      .footer_company
        .footer_company_1 Company
        ul
          li About
          li Contant
          li Press
          li Blog
          li Terms and privacy
          li Help
      .footer_company_1 Partners
      .footer_emble
        p Designed by
        div
          img(src='./photo/logo.png', alt='')
 